* {
    margin:0;
    padding:0;
}

#status-board{
    font-size: large;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
}

#game-screen{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px 300px;
    padding: 20px;
    gap: 1rem;
}


#large-board-container{
    width: 600px;
    height: 600px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

#small-board-container{
    width: 300px;
    height: 300px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}


.board-large{
    width: 600px;
    height: 600px;
    display: grid;
    border: solid black 1px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.board-small{
    width: 300px;
    height: 300px;
    opacity: 0.5;
    display: grid;
    border: solid black 1px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

/* .board-status-side{
    width: 200px;
    height: 300px;
    opacity: 1;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
} */

.board-status-bottom{
    width: 900px;
    height: 200px;
    opacity: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.board-control{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    height: 300px;
    opacity: 1;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}

.board-grid {
    box-sizing: border-box;
    border: dotted black 1px;
}

.ship-on-grid {
    background-color: aqua;
}

.attack-on-grid {
    background-color: black;
}

.damage-on-grid {
    background-color: red;
}

.hide {
    display: none;
  }


#shipDisplay {
    display: flex;
    border: solid 1px green;
    height: fit-content;
    width: fit-content;
    align-self: center;
}

.shipDisplay-vertical {
    flex-direction: column;
}

#shipDisplay > div  {
    border: dotted 1px green;
    height: 30px;
    width: 30px;
}

header{
    text-align: center;
    padding: 1rem;
}

menu {
    text-align: center;
    padding: 1rem;
}

button:disabled {
    background-color: gray;
}